.card {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 200px;
	min-width: 200px;
	height: 360px;
	min-height: 360px;
	background-size: cover;
	background-repeat: no-repeat;
	border-image: var(--color-gradient) 30;
	border-width: 1px;
	border-style: solid;
	box-sizing: border-box;
}

.cardOnHover {
	transition-property: box-shadow, color;
	transition-duration: 0.5s;
}

.cardOnHover:hover {
	box-shadow: 0 0 24px var(--color-p5);
}

.card > div {
	text-align: center;
	background: rgba(28, 34, 41, 0.75);
	padding: 0.5rem 0;
}

@media (max-width: 576px) {
	.card {
		width: 160px;
		min-width: 160px;
		height: 288px;
		min-height: 288px;
	}
}
