@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Spectral+SC:wght@400;600&display=swap');

* {
	box-sizing: border-box;
}

html {
	--type-first: var(--type-first-ibm-plex), sans-serif;
	--type-second: var(--type-second-spectral), serif;
	--color-p1: #fff9ec;
	--color-p2: #f0e6d2;
	--color-p3: #c4b998;
	--color-p4: #cdbd91;
	--color-p5: #c3a758;
	--color-p6: #937341;
	--color-p7: #8b6e38;
	--color-p8: #67512c;
	--color-s3: #1c2229;
	--color-s4: #010a13;
	--color-c1: #f7f7f7;
	--color-c2: #ededed;
	--color-c5: #b2b2b2;
	--color-c6: #9c9c9c;
	--color-c10: #2e2e2e;
	--color-c11: #111111;
	--color-gradient: linear-gradient(var(--color-p5), var(--color-p7));
	--color-gradient-radial: radial-gradient(
		var(--color-p3) 0%,
		rgba(103, 81, 44, 0.1) 70%
	);
	--gap-s: 0.75rem;
	--gap: 1.25rem;
}

body {
	margin: 0;
	font-family: var(--type-first);
	background-color: var(--color-s4);
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--color-p1);
}

.container {
	max-width: 75rem;
	padding: 6rem 1.25rem;
	margin: 0 auto;
}

.animeTopBottom {
	animation: animeTopBottom 0.5s forwards;
}

@keyframes animeTopBottom {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: initial;
	}
}

.animeBottomTop {
	animation: animeBottomTop 0.5s forwards;
}

@keyframes animeBottomTop {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: translateY(-50px);
	}
}
