.footer {
	text-align: center;
	padding: 0 1.25rem;
}

.footer::before {
	content: '';
	display: block;
	height: 1px;
	max-width: 800px;
	background: var(--color-gradient-radial);
	margin: 0 auto;
}

.footer p {
	font-family: var(--type-first);
	font-size: 1.125rem;
	line-height: 1.5;
	color: var(--color-c6);
	letter-spacing: 0.016875rem;
	padding: 5rem 0;
}

.footer p span {
	font-family: var(--type-second);
}

.footer .patch {
	display: block;
	margin-top: 0.5rem;
}

@media (max-width: 576px) {
	.footer {
		padding: 0 1rem;
	}
	.footer p {
		font-size: 0.75rem;
		padding: 3rem 0;
	}
}
